a:visited {
    text-decoration: none;
    color: black
}

.outer-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 250px 60px auto;
    border: 1px solid black;
    max-width: 800px;
}

.group-detail-image {
    grid-column: 1;
}
.group-detail-text-wrapper {
    grid-column: 2;
    border: 1px solid black;
}
.group-detail-title {

}

.group-details-nav-bar {
    display: flex;
    grid-column: 1;
    justify-content: space-around;
}
.group-details-nav-click {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
