.main-page-nav-wrapper {
    display: flex;
    align-items: center;
    height: 50px;
}

.main-page-nav-link {
    padding-right: 10px;
    font-size: large;
    font-family: "Noto Sans";
    font-weight:600;
    color: gray;
    text-decoration: none;
}