.main-page-nav-wrapper {
    display: flex;
    align-items: center;
    height: 50px;
}

.main-page-nav-link {
    padding-right: 10px;
    font-size: large;
    font-family: "Noto Sans";
    font-weight:600;
    color: gray;
    text-decoration: none;
}

.meetup-logo {
    background-image: url(https://i.ibb.co/426pdXz/Screen-Shot-2022-09-22-at-11-18-19-AM.png);
    width: 150px;
    background-repeat: none;
    margin-bottom: 5px
}