h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

div {
    font-family: 'Roboto', sans-serif;
}

.master-wrapper {
    width: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;

}

.banner-wrapper {
    grid-column: 2;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 290px;
}
.banner-text-div {
    width: 375px;
    margin-right: 90px;
}

.banner-img-div {
    height: 300px;
    width: 500px;
    background-image: url("https://i.ibb.co/7ydCdbx/meetup-splash-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.splash-img-div{
    height: 175px;
    width: 200px;
    margin: 20px;
}
.group {
    background-image: url("https://i.ibb.co/fG1JW9s/spalsh-highfive.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.event {

    background-image: url("https://i.ibb.co/3r92PwZ/splash-tix.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.start-group {
    background-image: url("https://i.ibb.co/KhLHVf6/splash-peeps.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.outer-action-wrapper {
    grid-column: 2;
    width:auto;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-rows: 200px 50px;

}

.image-wrapper {
    display: flex;
    justify-content: center;
    grid-column: 2 / 5;
}
.action-wrapper {
    display: flex;

    width: auto;
    grid-column: 2 / 5;
    justify-content: center;
}

.action-text {
    display: flex;
    margin: 1px 20px 10px 20px;
    justify-content: center;
    width: 200px;

}