.banner-wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 290px;
}
.banner-text-div {
    width: 375px;
    margin-right: 90px;
}

.splash-img-div {
    height: 200px;
    width: 200px;
    border: 1px red solid;
    margin: 20px
}

.image-wrapper {
    display: flex;
    border: 1px solid red;
    width: 100%;
    justify-content: center;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

div {
    font-family: 'Roboto', sans-serif;
}