.event-details-wrapper {
    display: grid;
    grid-template-columns: 1fr 880px 1fr;
    grid-template-rows: 130px 200px 300px;
}
.upper-color-section {
    grid-column: 1 / 4;
    grid-row: 1;
}

.lower-color-section {
    grid-column: 1 / 4;
    grid-row: 2;
    background-color: rgb(246, 246, 245);
    height: 1000px;
    width: auto;
    border-top: 1px solid rgb(214, 213, 213);
}

.outer-wrapper {
    grid-column: 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: 150px 11fr 2fr auto;
    max-width: 900px;
    z-index: 10;
}

.delete-event-button {
    grid-row: 3;
    grid-column: 3;
    margin-top: 20px
}

#delete-event-button-button {
    color: rgb(21, 129, 120);
    background-color: rgb(246, 246, 245);
    border-radius: 8px;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    border: none;
    font-family: "Oxygen";
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
#delete-event-button-button:hover {
    color: white;
    background-color: #ff5946;
    border-radius: 8px;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    border: none;
    font-family: "Oxygen";
    font-size: 14px;
    font-weight: 300;
}

.event-detail-image {
    grid-column: 1;
    grid-row: 2;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 12px;
    height: 300px;
}

.event-detail-text-wrapper {
    grid-column: 1;
    margin-top: 12px;
    margin-left: 10px;
    /* border: 1px solid red */
}

.event-detail-title {
    font-family: "Noto Sans";
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 15px;
}

.mid-right-wrapper {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* border: solid red 1px; */
    margin-left: 40px;
}

.event-detail-group {
    width: 250px;
    height: 80px;
    /* border: solid red 1px; */
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: white;
}

.details-group-name {
    color: black;
    margin-bottom: 5px;
}

.details-public {
    font-weight: 300;
}

.tiny-group-img {
    height: 50px;
    width: 50px;
    /* border: 1px red solid; */
    margin: 5px;
    margin-left: 20px;
    border-radius: 8px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.event-detail-date-wrapper {
    color: rgb(118, 117, 115);
    font-weight: bold;
    margin-top: 20px;
    width: 250px;
    height: 80px;
    /* border: solid red 1px; */
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
}

.inside-date {
    margin-left: 20px;
    margin-bottom: 10px;;
}

.inside-location {
    margin-left: 20px;
}

.fa-regular fa-clock {
    color: rgb(118, 117, 115);
}

.event-group-details {
    margin-left: 5px;
    color: rgb(118, 117, 115);
}


.event-detail-description {
    grid-row: 3;
}