.header-nav-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    border-bottom: 1px solid black;
}



.meetup-logo {
    background-image: url("https://i.ibb.co/BcPDH9Q/meetup.png");
    width: 150px;
    background-repeat: none;
    margin-bottom: 5px
}

.nav-link-wrapper {
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
    align-items: center;
}

.nav-link {
    padding-left: 20px;
}
