.header-nav-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    border-bottom: 1px solid rgb(172, 172, 172);
}

.meetup-logo {
    background-image: url("https://i.ibb.co/BcPDH9Q/meetup.png");
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
}

.nav-link-wrapper {
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
    align-items: center;
}

.nav-link {
    padding-left: 20px;
}

#profile-button {
    border: none;
    height: 30px;
    width: 120px;
    margin-right: 10px;
    border-radius: 8px;
    font-family: "Noto Sans";
    font-weight: bold;
    color: white;
    background-color: #ff5946;
}

#create-group-navlink {
    text-decoration: none;
    margin-right: 20px;
    font-family: "Oxygen";
    font-weight: 600;
    border-bottom: 2px solid #6e6c6c;
    padding-bottom: 2px;
    color: #6e6c6c;
}

#profile-logout {
    border: none;
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
}

.profile-dropdown {
    list-style: none;
    font-family: "Oxygen";
    font-weight: 100;
}

.nav-signup-button {
    margin: 8px;
    width: 70px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #ff5946;
    color: white;
}
